<!DOCTYPE html>
<html lang="en">
<head>
  <title>GistBadges</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" />
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-file-dnd/dist/angular-file-dnd.min.js"></script>
  <script src="/index.js"></script>
  <link rel="stylesheet" href="/style.css" />
</head>
<body ng-app="gistbadges">
  <div class="container">
    {{{body}}}
  </div>
</body>