<h1>You created your badge!</h1>

Now send copy this link and send it to the receiver:
<input type="text" value="{{shareurl}}"/>

You can also view the <a href="{{gisturl}}" target="_blank">Gist</a> for the badge.