doctype html
html(lang="en")
  head
    title Issue a badge
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    h1 Issue a badge
    if loggedin
      p Hello, #{githubName}
    else
      a(href='/login') Log in with GitHub